body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  min-width: 700px;
  min-height: 400px;
}

#logoWithName {
  display: flex;
  justify-content: center;
  padding: 7%;
  background: #00897b;
}

#logo:hover{
  transition: 0.2s;
  transform: translateY(-0.15em);
  transform: scale(103%);
}

::placeholder {
  color: #b6b6b6;
  
}

input:focus::placeholder {
  color: transparent;

}

hr {
  background-color: #b6b6b6;
  border: none;
  height:1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

#mainContainer {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 3% 5% 5% 5%;
  margin: 5%;
}

input {
  border: none;
  outline: none;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

#searchBtn {
  display: inline-block;
  justify-content: center;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  color: #ffffff;
  background: #7d5521;
  border-radius: 4px;
  width: 25%;
  padding: 10px !important;
  margin-bottom: 3%;
}

#searchBtn:hover {
  background: #6B4513;
}

span {
  padding: 10%;
  text-align: center;
}

span:hover {
  padding: 12%;
  text-align: center;
}

h5 {
  padding: 2%;
  text-align: center;
}

button{
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  width: 100%;
  font-size: 16px; 
}

button:hover{
  background-color: #01695c;
  color: #fff;
  box-shadow: 3px 4.9px 16px rgba(0, 0, 0, 0.3);
  letter-spacing:5px;
  transition: 0.6s;
  transform: translateY(-0.15em);
}

tr {
  background: #fafafa;
  color: #6B4513;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


tr:hover {
  background-color: #ededed;
  transition: 0.6s;
  transform: translateY(-0.08em);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
  padding: 5%;
  margin: 7%;
  text-align: center;
  background-color: #27a79a;
  color: #ffffff;
  font-weight: 900;
}

td{
  height: 80px;
}

table {
  width:100%;
  border-spacing: 0px 20px;
}

#refreshBtn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 12px;
  padding-bottom: 10px;
}


#refreshBtn:hover{ 
  color: #07403b;
}

#refreshIcon:hover {
  animation: animName 2s linear infinite;
  transform: scale(6);
}

@keyframes animName {
 0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}

#loadingMessage {
font-size: 2em;
font-weight: 800;
color: #929292;
}

mapBtn {
  text-decoration: underline;
  cursor: pointer;
  color: #07403b;
}

mapBtn:hover {
  color: #00897b;
}

iframe{
  width: 100%;
  height: 400px;
  border: none;
  loading: lazy;
}
